.bg-img{
  height: 82vh;
  padding: 0;
  width: 100%;
  background: url('../../../assets/img/neon.jpg') no-repeat center center fixed;
  opacity: 85%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-title{
  padding-top: 5rem;
  font-weight: bold;
  font-size: 60px;
  color: white;
}

.header-subtitle{
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.bg-section{
  margin-top: 6rem;
  min-height: 45vh;
  background-color: #f0f4f4;
}

.row-margin{
  padding-top: 3rem;
}
